a{
    text-decoration: none;
}
li{
    padding-bottom: 10px;
}
#LatteArtHeartCoution{
    padding-bottom: 10px;
}
div.LessonOne{
    background-color: #ab6129;
    border: 15px solid #e8edf1;
    padding: 50px;
    margin: 20px;
    
}
body{
    background-color: #ab6129;
    margin: 0%;
    color: #e8edf1;
}
h1{
    text-align:center;
}
.goBackMenu, .latteMenu{
    display: inline;
    text-align:center;
}
.Menu{
    color: white;   
}
#header{
    border: 1px solid #ab6129;
    border-radius: 12px;
    background-color: #ab6129;
    position: sticky;
    top: 0;
}
#header li,h1,ul{
    padding:0%;
    margin: 0%;
}