body{
    background-color: #416468;
    margin: 0%;
}
h1{
    font-size: 200px;
    color: #FFD700;
    text-align: center;
    background-color: olive;
}
h2{
    color:  #FFD700;
    text-align: center; 
    background-color: olive;
    border-bottom: 2px solid;
    border-right: 2px solid;
}
a{
    text-decoration: none;
}
